* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Addition */
#down,
.loopdown {
	position: absolute;
	bottom: 10%;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 100%;
	color: white;
	cursor: pointer;
}

.loopdown {
	animation: down 1s linear infinite alternate;
}

#page-transition {
	position: relative;
	z-index: 25;
}
.trans {
	position: absolute;
	top: 20vh;
	margin: auto;
	width: 100vw;
	height: 20vh;
	background-color: deepskyblue;
	transform: translateX(0);
	z-index: 25;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	width: 99vw;
	height: 100vh;
	z-index: 50;
}

#loader {
	position: relative;
	width: 50px;
	height: 50px;
	border: 7px solid #f3f3f3;
	border-top: 7px solid rgb(71, 144, 212);
	border-radius: 50%;
	animation: loading 1s linear infinite;
	display: none;
	z-index: 50;
}

#up {
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 40px;
	height: 40px;
	background-color: tomato;
	color: white;
	border: none;
	opacity: 0;
	cursor: pointer;
	z-index: 1;
}

button:focus {
	outline: none;
}
/* End of Addition */

/* Header */
header {
	height: 100vh;
	width: 100%;
	background: linear-gradient(315deg, green, lightgreen);
}

.nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 10%;
	width: 100%;
	z-index: 1;
}

.logo {
	width: 70vw;
	text-align: right;
	transform: translateX(-710px);
	transition: transform 1s ease-in;
}

.logo:hover {
	transform: translateX(0px);
}

.logo a {
	color: black;
	text-decoration: none;
}

.nav-bar {
	width: 30vw;
	background: transparent;
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-around;
}

.nav-bar li:hover {
	border-bottom: 1px solid white;
}

.nav-links {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

.header-content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
/* End of Header */

/* content */
.home1,
.home2 {
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

/* content1 */
.shape {
	position: absolute;
	left: 30%;
	background-color: burlywood;
	height: 600px;
	width: 700px;
	border-radius: 0 80% 0 0;
	box-shadow: 0px 0px 8px white;
}

.text {
	background-color: white;
	position: absolute;
	right: 0%;
	height: 500px;
	width: 600px;
	border: 1px solid black;
	padding: 40px;
	text-align: justify;
	box-shadow: 20px 20px 100px white, -20px -20px 100px white;
	opacity: 0;
}

.text p::first-letter {
	font-size: 70px;
	font-family: 'Times New Roman';
	font-weight: bold;
	padding: 0 0 0 50px;
}
/* End of content1 */

/* Contact */
.contact1 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100vh;
	margin: 0 auto;
	width: 700px;
	font-size: 2em;
}

.contact1 h1 {
	text-align: center;
}

.contact1 i {
	margin: 20px;
}
/* End of Contact */

/* content2 */
.home2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 100px;
	padding: 0 100px;
	background: linear-gradient(to left, rgb(61, 221, 61), rgb(145, 248, 145));
}

.card {
	background-color: white;
	width: 100%;
	height: 450px;
	border-radius: 10%;
	padding: 30px;
	text-align: justify;
	opacity: 0;
}

.card-text {
	opacity: 0;
	transition: opacity 2s 1.5s;
}
.card-text h3 {
	text-align: center;
	margin-bottom: 10px;
}
.circle {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	margin: auto;
	margin-bottom: 20px;
	border: 5px solid green;
	border-radius: 100%;
}

.small-circle {
	position: absolute;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgb(65, 228, 65);
	border-radius: 100%;
}

.fa-cloud-sun {
	background: linear-gradient(130deg, rgb(255, 255, 102), white);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.fa-sun {
	color: rgb(255, 255, 189);
}
.fa-cloud-moon {
	background: linear-gradient(225deg, white, #333);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
/* End of content2 */
/* End of Content */

/* Footer */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	text-align: center;
	color: white;
	height: 10vh;
}
/* End of Footer */

/* Keyframes */
@keyframes down {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(2);
	}
}
@keyframes up-default {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: rotate(1turn) scale(0);
	}
}
@keyframes up-active {
	from {
		opacity: 0;
		transform: rotate(1turn);
	}
	to {
		opacity: 1;
	}
}
@keyframes move-in {
	from {
		transform: translateX(-100vw);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes move-out {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100vw);
	}
}

@keyframes loading {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes shadow {
	to {
		box-shadow: -150px 20px 8px #aaa;
	}
}
@keyframes text {
	to {
		right: 10%;
		opacity: 1;
	}
}
@keyframes card {
	0% {
		transform: scale(0.25);
		opacity: 0.2;
	}
	75% {
		transform: scale(1.1);
		opacity: 0.8;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
